@media screen and (max-width: 480px) {
    .centered-body {
        margin:20% 10% 20% 10%;
    }
}

.centered-body {
    background-color: #cdcdc1;
    margin:10% 35% 10% 35%;
}

.well {
    background-color: rgba(245, 245, 245, 0.4);
}

.central-text {
    font-size:1em;
    color: black;
    border:solid white 3px
}
