@media screen and (max-width: 480px) {
    body {
        margin:10% 30% 10% 30%;
    }
}

body {
    background-color: #cdcdc1;
    margin:10% 10% 10% 10%;
}

.well {
    background-color: rgba(245, 245, 245, 0.4);
}

.central-text {
    font-size:1em;
    color: black;
    border:solid white 3px
}
