@media screen and (max-device-width: 480px) {
    body {
        margin:10% 5% 10% 5%;
    }
}

@media screen and (max-device-width: 320px) {
    body {
        margin:10% 5% 10% 5%;
    }
}

body {
    background-color: #cdcdc1;
    margin:10% 35% 10% 35%;
}

.well {
    background-color: rgba(245, 245, 245, 0.4);
}

.central-text {
    font-size:1em;
    color: black;
    border:solid white 3px
}
